<!DOCTYPE HTML>
<html>
<head>
    <title>Prueba</title>
    <meta charset='utf-8'>
</head>
<body>
  <br><br>
  <h1>Hola cauros que paja</h1>
    <div class="nav">
        <div class="pag">
            <nav>
                <ul>
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">MERCADO CENTRAL</a></li>
                    <li><a href="#">SERVICIOS</a></li>
                    <li><a href="#">SOCIALES  FOTOGRAFÍAS</a></li>
                    <li><a href="#">NOTICIAS</a></li>
                    <li><a href="#">CERRAR SESION</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main">
        <h1 style="text-align:center">¿En que contribuye el mercado a Chile?</h1>
        <p> 
            El Mercado Central de Santiago es un recinto Patrimonial que concentra la mayor cantidad de diversidad de locales del país, ofreciendo servicios de productos, tales como: marisquería, frutería, yerbería, pescadería, restaurante, carnicería, botillería, centro de llamadas, fiambrería, panadería, venta de empanadas, farmacia, quesería, joyería e incluso guía de turismo. Todos estos servicios se encuentran a disposición del público visitante, tanto nacional y extranjeros, todos los días de año. 
        </p>
        <p> 
            En economía, un mercado es un conjunto de transacciones de procesos o intercambio de bienes o servicios entre individuos. El mercado no hace referencia directa al lucro o a las empresas, sino simplemente al acuerdo mutuo en el marco de las transacciones. Estas pueden tener como partícipes a individuos, empresas, cooperativas, entre otros. El mercado contiene usuarios en busca de recursos insuficientes en relación a las necesidades ilimitadas.

            El mercado también es el ambiente social (o virtual) que propicia las condiciones para el intercambio. En otras palabras, debe interpretarse como la institución u organización social a través de la cual los ofertantes (productores, vendedores) y demandantes (consumidores o compradores) de un determinado tipo de bien o de servicio, entran en estrecha relación comercial a fin de realizar abundantes transacciones comerciales.
        </p>
        <p> 
            Desde el punto de vista de la mercadotecnia, el mercado está formado por todos los consumidores o compradores potenciales de un producto. El tamaño de este, desde una perspectiva, guarda una estrecha relación con el número de compradores que existirían para una oferta.

            Los integrantes del mercado deben reunir tres características: deseo, renta y posibilidad de acceder al producto.1​ Por parte de la administración de la comercialización la definición de mercado está muy ligada al de demanda y del consumidor. Para un acertado entendimiento se deben estudiar los tres términos en conjunto. El marketing pretende aumentar tanto la cuota de mercado como el tamaño del mercado de un determinado producto, entre otros objetivos.
        </p>
        <p> 
            Este mercado se diferencia de los demás por lo siguiente: se persiguen varios objetivos al adquirir un producto generar beneficios, reducir costos, satisfacer empleados, etc. El comprador generalmente es profesional, y participan varias personas en todo el proceso de compra, sobre todo para compras importantes o compras iniciales, se deben respetar normas internas, requisitos de calidad, evaluación de proveedores, etc. También se usan ciertos instrumentos de compra, como solicitud de propuesta de venta, contratos de compra, etc. Este mercado tiene menos compradores, son de mayor tamaño, relaciones estrechas entre comprador y vendedor, la compra es directa generalmente y recíproca; se verifica una demanda derivada (porque deriva del consumo de los individuos), inelástica y fluctuante (por que una pequeña baja en el consumo de los hogares tiene gran repercusión en la industria).
        </p>
    </div>
</body>
</html>