.Titulo
{
    font-family: inherit;
    text-align: center;
}

.cuadroIzq
{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    border: solid;   
}

.cuadroDer
{
    position: relative;
    float: right;
    width: 49%;
    height: 100%;
    border: solid;
}

.tituloForm
{
    text-align: center;
}

.tituloMapa
{
    text-align: center;
}

.formulario
{
    text-align: center;
}

label
{
    font-size: 20px;
}

<<<<<<< HEAD
.mapita
{
    width:100%;
    height:400px;
    background-image: url(images/mapaeveris.png);
    background-size: cover;
   
=======
agm-map 
{
    height: 1px;
}

.Mapita
{
    border: solid;
    width: 400px;
    height: 150px;
>>>>>>> 3697d172f01df874587952aec8c9feedf343e0a9
}


