

<h1 class="Titulo">Pagina Nelson</h1>


<div class="tabla">
  <table class="tg sizeTable">
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>Email</th>
      <th>DIreccion</th>
      <th>Username</th>
      <th>Telefono</th>
      <th>Web</th>
      <th>acciones</th>
    </tr>
    <tr *ngFor="let user of users">
      <td class="tg-pmnd">{{user.id}}</td>
      <td class="tg-pmnd">{{user.name}}</td>
      <td class="tg-pmnd">{{user.email}}</td>
      <td class="tg-pmnd">{{user.address.city}} {{user.address.street}} {{user.address.suite}} {{user.address.zipcode}}</td>
      <td class="tg-pmnd">{{user.username}}</td>
      <td class="tg-pmnd">{{user.phone}}</td>
      <td class="tg-pmnd">{{user.website}}</td>
      <td><button (click)="VerInfo(user.company)"> Ver </button></td>
    </tr>
  </table>
</div>

<div *ngIf="show">
  <app-component-oculto [detalleCompany]="companyDetalle"></app-component-oculto>
</div>

  <div style="clear:both"></div>

<app-filtrador></app-filtrador>

<div>

    <div class="cuadroIzq">
      <div class="Formulario">
          <div class="tituloForm">
            <h2>Formulario contacto</h2>
          </div>
      </div>
      <div class="formulario">
        <form>
          <label for="">Nombre:</label>
          <br>
          <input id="nombre" placeholder="Nombre" required>
          <br>
          <label for="">Apellido:</label>
          <br>
          <input id="nombre" placeholder="Apellido" required>
          <br>
          <label for="">Correo:</label>
          <br>
          <input cols="40" id="nombre" placeholder="micorreo@xxx.xxx" required>
          <br>
          <label for="">Mensaje:</label>
          <br>
          <textarea class="campos" cols="50" rows="8" name="mensaje"></textarea>
          <br>
          <button>Enviar</button>
        </form>
      </div>
    </div>

    <div class="cuadroDer">
      <div class="tituloMapa">
          <h2>Everis</h2>
      </div>
    
      <div>
        <div  class="mapita">
          <div class="geregere">
              <app-geregere></app-geregere>
          </div>
            
        </div>
      </div>
      
    </div>

    <div style="clear:both"></div>

    
  </div>
    
<!-- <script src=”http://maps.googleapis.com/maps/api/js?key=AIzaSyDKoBw7whEROAY6-didgM2-mI4dFiIDYdI"></script> -->