<table class="filtrar">
  <tr>
      <th><p>ID:</p>  
          <input name="id" placeholder="id"></th>
      <th><p>NAME:</p>
          <input name="text" placeholder="name"></th>
      <th><p>EMAIL:</p>
          <input name="email" placeholder="email"></th>
      <th><button (click)="BusquedaID(user.company)">Buscar Dato</button></th>
  </tr>     
</table>


<h2>Usuarios</h2>
<table class="personal">
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>ADDRESS</th>
      <th>CITY</th>
      <th>PHONE</th>
      <th>WEB</th>
      <th>INFORMATION</th>
    </tr>
  </thead>
    <tr *ngFor="let user of userDetalle">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address.city}} {{user.address.street}} {{user.address.suite}} {{user.address.zipcode}}</td>
      <td>{{user.username}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.website}}</td>
      <td><button (click)="EnviarInfoEmpleados(user.company)"> Additional Info</button></td>
    </tr>
</table>

<div class="detalleP">
  <app-detalle-persona [detalle]="detalles"></app-detalle-persona>
</div>

<div style="clear:both"></div>




