
<div class="contenido">
<!--<p>Buscar por titulo:</p><input type="text"  name="Buscar" [(ngModel)]="FilterPost">!-->
<app-filtros (Filtrar)="FiltrarId($event)"></app-filtros>
<table>
        <tr>
          <th>Titulo</th>
          <th>Cuerpo</th>
         <!-- <th>Button</th>!-->
        </tr>
        <tr *ngFor="let post of posts"><!--| filtrar: FilterPost!-->
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>

       <!-- <td><button (click)="EnviarID(post.userId)">Ver Detalle</button></td>!-->
        </tr>
      </table>
    </div>

    <app-detalle></app-detalle>