<div class="indice"><p style="color:purple; text-align:center;">LATAM Airlines es una aerolínea formada por las aerolíneas sudamericanas LAN, TAM4​ y sus filiales.5​ Con sede en Santiago (Chile), la aerolínea opera vuelos para pasajeros a países en América del Sur, Centroamérica, América del Norte, el Caribe, Europa, África, Asia, Medio Oriente y Oceanía, llegando a un total de 136 destinos en 24 países. En carga, la aerolínea sirve a más de 144 destinos en 26 países.

        En términos de tráfico y cobertura, LATAM se constituye como la mayor y más importante línea aérea de América Latina tanto en rutas como en flota de aviones.6​ LATAM nació como una fusión de las aerolíneas LAN y la brasileña TAM llevando así la consolidación de la nueva aerolínea fusionada. Con la inauguración de la ruta a Israel, se convirtió en la única aerolínea latinoamericana en volar a los 5 continentes, además de ser el único operador de Latinoamérica en unir Sudamérica con países y regiones tales como Australia, Nueva Zelanda, Israel, la Polinesia francesa, Sudáfrica y Jamaica.
        
        La nueva marca fue anunciada el 6 de agosto de 20154​culminando un proceso de consolidación, y después de un trabajo de integración y homologación de procesos, optimización de conexiones aéreas, además de la reestructuración y modernización de su flota de aviones.7​
        
        LATAM está conformada por aproximadamente 45 mil empleados y su flota consiste en 287 aviones, sin incluir algunas naves ya encargadas y aún no entregadas.</p>
</div>
<div>
<p>Buscar por titulo:</p><input type="text"  name="Buscar" [(ngModel)]="FilterPost">
<table>
        <tr>
          <th>Titulo</th>
          <th>Cuerpo</th>
        </tr>
        <tr *ngFor="let post of posts| filtrar: FilterPost">
        <td>{{post.title}}</td>
        <td>{{post.body | json}}</td>
        </tr>
      </table>
    </div>